
  .wrapper1 {
    display: flex;
    width: 100%;
    justify-content: space-around;
position: absolute;
top: 730px;
}
.align-text1{
    color: black;
    font-size:1.9rem;
    font-family: 'Ubuntu';
    text-align: center;
}
.sheading{
    position: absolute;
    top: 150px;
    width: 100%;
}
.wrapper1{
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: absolute;
    top: 230px;
} 
  .card1 {
    width: 280px;
    height: 360px;
    border-radius: 15px;
    padding: 1.5rem;
    background: white;
    position: relative;
    display: flex;
    margin:10px;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  }
  .card1:hover {
    transform: translateY(20px);
  }
  .card1:hover:before {
    opacity: 1;
  }
  .card1:hover .info {
    opacity: 1;
    transform: translateY(0px);
  }
  .card1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
  }
  .card1 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
  }
  .card1 .info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
  }
  .card1 .info h1 {
    margin: 0px;
  }
  .card1 .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
  }
  .card1 .info a {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
  }
  .card1 .info button:hover {
    background: dodgerblue;
    color: white;
  }

  @media only screen and (max-width: 800px) {
    .wrapper1{
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: space-around;
      position: absolute;
      top: 230px;
    }
  }